<div class="input-container">
  <div class="task-input">
    <input id="input-task" [(ngModel)]="text" placeholder="Some task"/>
  </div>
  <div class="todo-btn">
    <button class="btn btn-default" (click)="addItem(text)">ToDo</button>
  </div>
</div>
<div class="task-table">
  <div class="tasks-container" *ngFor="let task of tasks">
    <div class="task-block" *ngIf="!isDone(task)">
      <div class="task-info">
        <label for="task-check">
          <span>{{task.taskName}}</span>
        </label>
        <input id="task-check" type="checkbox" [(ngModel)]="task.done">
      </div>
    </div>
  </div>
</div>

