<div class="input-container">
  <div class="task-input">
    <input id="input-task" [(ngModel)]="text" placeholder="Some task" autocomplete="off"/>
  </div>
  <div class="todo-btn">
    <button class="btn btn-default" (click)="addItem(text)">ToDo</button>
  </div>
</div>
<div class="task-table">
  <div class="tasks-container" *ngFor="let task of tasks">
    <div class="task-block" *ngIf="!isDone(task)">
      <span>{{task.taskName}}</span>
      <button id="task-check" (click)="toDoBtn(task)">
        Done
      </button>
    </div>
  </div>
</div>

